.jumbotron{
  max-height: 170px;
  background-color: rgb(233, 167, 145);
  margin-bottom:0;padding-bottom: 1rem; padding-top: 1rem;
}

.btn{
  background-color: rgb(233, 167, 145);
}

div.sticky{
  position:sticky;
  top: 0;
}

.container{
  margin-top: 30px;
}

.img-thumbnail{
  padding:.25rem;
  background-color:#fff;
  border:1px solid #dee2e6;
  border-radius:.25rem;
  max-width:100%;
  height:auto}

.carousel-inner img {
  width: 100%;
  height: 100%;
  background-color: rgb(235, 197, 184);
  border: 5px solid #ffffff;
  border-radius:.25rem;
}

.carousel-item img {
  width: 100%;
  height: 100%;
}
